<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>gaps</display-name>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>
	<context-param>
		<param-name>BootsFaces_THEME</param-name>
		<param-value>#{skinBean.skin.valorCadena}</param-value>
	</context-param>
	<context-param>
		<param-name>BootsFaces_USETHEME</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/pages/publico/index.jsf</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Secretario</web-resource-name>
			<url-pattern>/pages/secretario/*</url-pattern>
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>secretario</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Tesorero</web-resource-name>
			<url-pattern>/pages/tesorero/*</url-pattern>
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>tesorero</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin</web-resource-name>
			<url-pattern>/pages/admin/*</url-pattern>
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>gaps-realm</realm-name>
		<form-login-config>
			<form-login-page>/login.jsf</form-login-page>
			<form-error-page>/login.jsf?fail=true</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>admin</role-name>
	</security-role>
	<security-role>
		<role-name>tesorero</role-name>
	</security-role>
	<security-role>
		<role-name>secretario</role-name>
	</security-role>
	<error-page>
		<error-code>403</error-code>
		<location>/error403.jsf?fail=true</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/login.jsf?fail=true</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/login.jsf?fail=true</location>
	</error-page>
</web-app>
